*
!*.py
!.gitignore
!Pipfile*
!migrations
!migrations/*
config.py
!static
!static/*
!static/scss/*
!static/scss/*.scss
!static/scss/bootstrap
!static/scss/bootstrap/*
!static/scss/bootstrap/*.scss
!templates
!*.jinja2
static/scss/bootstrap/customvars.scss
!Dockerfile
!tests
!*.pot
!*.po
!babel.cfg
!translations
!translations/**/*
!static/img/*
translations/**/*.mo
!dls1
!dls1/README.md
!dls1/CGEAR
!dls1/CGEAR/listing.json
!dls1/CGEAR/C003-2_munna_1_en.bin
!docker-start.sh

dls1_client.py
