[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.5"
Werkzeug = "==2.2.2"
flask-sqlalchemy = "*"
flask-migrate = "*"
redis = "*"
flask-wtf = "*"
flask-bootstrap = "*"
flask-babel = "*"
flask-login = "*"
waitress = "*"
requests = "*"
flagsmith = "*"

[dev-packages]

[requires]
python_version = "3.11"
