[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.0.1"
flask-sqlalchemy = "*"
flask-migrate = "*"
redis = "*"
flask-wtf = "*"
flask-bootstrap = "*"
flask-babel = "*"

[dev-packages]

[requires]
python_version = "3.9"
