{% extends "base.html.jinja2" %}
{% block navbar %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">{{ _('Home') }}</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="nbGsDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ _('Game Sync') }}</a>
        <ul class="dropdown-menu" aria-labelledby="nbGsDropdown">
            <a class="dropdown-item disabled" href="#">{{ _('Dream Land') }}</a>
            <a class="dropdown-item disabled" href="#">{{ _('Global Battle Union') }}</a>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="nbLoginDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ _('Account') }}</a>
        <ul class="dropdown-menu" aria-labelledby="nbGsDropdown">
            <a class="dropdown-item" href="{{ url_for('main_routes.login') }}">{{ _("Sign In") }}</a>
            <a class="dropdown-item" href="{{ url_for('main_routes.link_gsid') }}">{{ _("Link Save Data") }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item disabled" href="#">{{ _("My Save Data") }}</a>
    </li>
{% endblock %}
{% block content %}
    <h1>{{ _("Hello!") }}</h1>
    <p>{{ _("Welcome to DSLink's Game Sync main page!") }}</p>
{% endblock %}