{% extends "base.html.jinja2" %}
{% block content %}
    <h1>Hello!</h1>
    <p>This page is under construction, but it looks pretty good at the moment!</p>
    <button>testing B)</button>
{% endblock %}