{% extends "base.html.jinja2" %}
{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{ url_for('main_routes.home') }}">{{ _('Home') }}</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="nbGsDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ _('Dream World') }}</a>
        <ul class="dropdown-menu" aria-labelledby="nbGsDropdown">
            <a class="dropdown-item disabled" href="{{ url_for('main_routes.island_of_dreams')}}">{{ _('Island Of Dreams') }}</a>
            <a class="dropdown-item disabled" href="#">{{ _('Garden') }}</a>
        </ul>
    </li>
{% endblock %}
{% block content %}
    <h1>{{ _("Pardon our Quick Powder") }}</h1>
    <p>{{ _("Ditto is busy transforming into HTML. Good things will be here soon!")}}</p>
{% endblock %}