{% extends "base.html.jinja2" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='scss/pgl-profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='scss/pgl-lang.css') }}">
{% endblock %}
{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{ url_for('main_routes.home') }}">{{ _('Home') }}</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="nbGsDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ _('Game Sync') }}</a>
        <ul class="dropdown-menu" aria-labelledby="nbGsDropdown">
            <a class="dropdown-item disabled" href="#">{{ _('Dream Land') }}</a>
            <a class="dropdown-item disabled" href="#">{{ _('Global Battle Union') }}</a>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="nbLoginDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ _('Account') }}</a>
        <ul class="dropdown-menu" aria-labelledby="nbGsDropdown">
            {% if current_user.is_anonymous %}
            <a class="dropdown-item" href="{{ url_for('main_routes.login') }}">{{ _("Sign In") }}</a>
            <a class="dropdown-item" href="{{ url_for('main_routes.link_gsid') }}">{{ _("Link Save Data") }}</a>
            {% else %}
            <a class="dropdown-item" href="{{ url_for('main_routes.logout') }}">{{ _("Sign Out") }}</a>
            {% endif %}
            {% if not current_user.is_anonymous %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item active" href="#">{{ _("Trainer Info") }}</a>
            {% endif %}
        </ul>
    </li>
{% endblock %}
{% block content %}
<div id="profile">
    <div id="side">
        <div id="login-user">
          <div id="avatar">{% if gsuser.gamever == 20 %}
        <img src="{{ url_for('static', filename='img/bw_zekrom.png') }}" alt="Zekrom" class="img-fluid"/>
    {% elif gsuser.gamever == 21 %}
        <img src="{{ url_for('static', filename='img/bw_reshiram.png') }}" alt="Reshiram" class="img-fluid"/>
    {% elif gsuser.gamever == 22 %}
        <img src="{{ url_for('static', filename='img/b2w2_wk.png') }}" alt="White Kyurem" class="img-fluid"/>
    {% elif gsuser.gamever == 23 %}
        <img src="{{ url_for('static', filename='img/b2w2_bk.png') }}" alt="Black Kyurem" class="img-fluid"/>
    {% endif %}
        </div>
          <dl>
            <dt>PGL Nickname</dt>
            <dd>{{ current_user.username }}</dd>
          </dl>
        </div>
        <div class="change-buttons">
          <a class="side-button btn btn-primary disabled">Register Game Card</a>
          <a class="side-button btn btn-primary disabled">Switch Game Cards</a>
        </div>
      </div>
      <div id="soft-info" style="margin-bottom: 0px;right: 120px;padding-top: 0px;top: 10px;">
          <div id="soft-package"></div>
          <div id="soft-desc">
            <h5 id="soft-romname"></h5>
            <!-- <div id="soft-synctime"><span class="label">Last tucked-in: </span> <span class="value"></span></div> -->
            <div id="soft-gsidc"><span class="label">The Game Sync ID registered with this Game Card: BDJ37TEQUC</span><span class="value"></span></div>
            <div id="soft-trainername"><span class="label">Trainer Name: Arceus2</span><span class="value"></span></div>
            <!-- <div id="soft-playtime"><span class="label">Time: </span><span class="value"></span></div> -->
          </div>
        </div>
    <div id="pdw-info">
          <div id="pdw-info-general">
            <h5>Status</h5>
            <div id="pdw-game-status">
              <div class="vertical-middle-body"></div>
              <div class="vertical-middle-hint"></div>
            </div>
            <div id="pdw-home-thumbnail"></div>
            <div id="pdw-point">
              <div class="vertical-middle-body label">Dream Pts. </div>
              <div class="vertical-middle-hint"></div>
              <div class="value accent-color-positive"></div>
            </div>
          </div>
          <div id="pdw-info-pokemon">
            <h5>Tucked-in Pokémon</h5>
            <div id="pdw-pokemon-status">
              <div class="nickname"></div>
              <div class="level">
                <span class="label">Lv.</span>
                <span class="value"></span>
              </div>
              <div class="sex"></div>
            </div>
            <div id="pdw-slept-image"></div>
            <div class="pdw-status2">
              <p id="pdw-slept-name">
                </p><div id="pdw-wakeup"><a class="pdw-ui">Wake up!</a></div>
            </div>
            <p id="pdw-slept-parent">
              <span class="label">O.T.</span>
              <span class="value accent-color-positive"></span>
            </p>
            <p id="pdw-slept-types">
              <span class="label">Type</span>
              <span class="pokemon-type pokemon-type1"></span>
              <span class="pokemon-type pokemon-type2"></span>
            </p>
            <p id="pdw-slept-nature">
              <span class="label">Nature</span>
              <span class="value accent-color-positive"></span>
            </p>
          </div>
          <div id="pdw-info-befriend">
            <h5>Your New Pokémon</h5>
            <ol id="pdw-recent-mate"></ol>
            <div id="pdw-recent-mate-empty" class="corner" data-corner="4px">No Pokémon joined you recently.</div>
          </div>
        </div>
</div>
{% endblock %}