{% extends "base.html.jinja2" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='scss/pgl-profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='scss/pgl-lang.css') }}">
{% endblock %}
{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{ url_for('main_routes.home') }}">{{ _('Home') }}</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="nbGsDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ _('Game Sync') }}</a>
        <ul class="dropdown-menu" aria-labelledby="nbGsDropdown">
            <a class="dropdown-item disabled" href="#">{{ _('Dream Land') }}</a>
            <a class="dropdown-item disabled" href="#">{{ _('Global Battle Union') }}</a>
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="nbLoginDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ _('Account') }}</a>
        <ul class="dropdown-menu" aria-labelledby="nbGsDropdown">
            {% if current_user.is_anonymous %}
            <a class="dropdown-item" href="{{ url_for('main_routes.login') }}">{{ _("Sign In") }}</a>
            <a class="dropdown-item" href="{{ url_for('main_routes.link_gsid') }}">{{ _("Link Save Data") }}</a>
            {% else %}
            <a class="dropdown-item" href="{{ url_for('main_routes.logout') }}">{{ _("Sign Out") }}</a>
            {% endif %}
            {% if not current_user.is_anonymous %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item active" href="#">{{ _("Trainer Info") }}</a>
            {% endif %}
        </ul>
    </li>
{% endblock %}
{% block content %}
<div id="profile">
    <div id="side">
        <div id="login-user">
          <div id="avatar">{% if gsuser.gamever == 20 %}
        <img src="{{ url_for('static', filename='img/bw_zekrom.png') }}" alt="Zekrom" class="img-fluid"/>
    {% elif gsuser.gamever == 21 %}
        <img src="{{ url_for('static', filename='img/bw_reshiram.png') }}" alt="Reshiram" class="img-fluid"/>
    {% elif gsuser.gamever == 22 %}
        <img src="{{ url_for('static', filename='img/b2w2_wk.png') }}" alt="White Kyurem" class="img-fluid"/>
    {% elif gsuser.gamever == 23 %}
        <img src="{{ url_for('static', filename='img/b2w2_bk.png') }}" alt="Black Kyurem" class="img-fluid"/>
    {% endif %}
        </div>
          <dl>
            <dt>PGL Nickname</dt>
            <dd>{{ current_user.username }}</dd>
          </dl>
        </div>
        <div class="change-buttons">
          <a class="side-button btn btn-primary disabled">Register Game Card</a>
          <a class="side-button btn btn-primary disabled">Switch Game Cards</a>
        </div>
      </div>
      <div id="soft-info">
          <div id="soft-package"></div>
          <div id="soft-desc">
            <h5 id="soft-romname"></h5>
            <div id="soft-synctime"><span class="label">Last tucked-in: </span> <span class="value"></span></div>
            <div id="soft-gsidc"><span class="label">The Game Sync ID registered with this Game Card: </span><span class="value"></span></div>
            <div id="soft-trainername"><span class="label">Trainer Name: </span><span class="value"></span></div>
            <div id="soft-playtime"><span class="label">Time: </span><span class="value"></span></div>
            <div id="soft-badges"><span class="label">Badges: </span><span class="value"></span></div>
          </div>
        </div>
</div>
{% endblock %}