{% extends "base.html.jinja2" %}
{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{ url_for('main_routes.home') }}">{{ _('Home') }}</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="nbGsDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ _('Game Sync') }}</a>
        <ul class="dropdown-menu" aria-labelledby="nbGsDropdown">
            <a class="dropdown-item disabled" href="#">{{ _('Dream Land') }}</a>
            <a class="dropdown-item disabled" href="#">{{ _('Global Battle Union') }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('main_routes.savedata') }}">{{ _("Save Data") }}</a> <!-- gs_savdownload is completely different from savedata.download. Be careful! -->
        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="nbLoginDropDown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ _('Account') }}</a>
        <ul class="dropdown-menu" aria-labelledby="nbGsDropdown">
            <a class="dropdown-item disabled" href="#">{{ _("Sign In") }}</a>
            <a class="dropdown-item disabled" href="#">{{ _("Link Save Data") }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item disabled" href="#">{{ _("Trainer Info") }}</a>
    </li>
{% endblock %}
{% block content %}
    <h1>P<sub>K</sub>M<sub>N</sub> {{ _("Trainer") }} {{ user.name }}</h1>
{% endblock %}